@@font-face {
  font-family: OCRAStd;
  src: url(OCRAStd.otf);
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.img1 {
  height: 600px;
  padding-left: 40px;
  display: flex;
}

.img2 {
  display: flex;
  height: 450px;
  width: 40px;
  padding-top: 400px;
}

.fixed {
  position: fixed;
  width: 330px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 12px;
  color: #7f4132;
  font-family: 'OCRAStd';
  right: 100px;
    background: black;
}

.fixed2 {
  position: fixed;
  width: 330px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 9px;
  color: #7f4132;
  font-family: 'OCRAStd';
  bottom: 10px;
  left: 20px;

}
