
.bigboy {
  display: flex;
  height: 100%;
  width: 100%;
}

.bigcontainer {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  font-family: narly-outline,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  height: 50%;
  width: 500px;
  color:#c45f05;
  background: blue;
}

.items {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list {
  display: flex;
  font-size: 12px;
  height: 30px;
  width: 1200px;
  padding-left: 100px;
  padding-top: 630px;
  font-family: narly,sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-content: space-between;
  position: fixed;
}

ul {
  list-style-type: none;
}

a {
  color: #c45f05;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.test {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}

@-webkit-keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}
