
body {
  background: white;
}


img {
  height: 1050px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.fixed {
  display: flex;
  position: fixed;
  height: 65px;
  width: 32%;
  font-size: 9px;
  color: black;
  left: 220px;
  top: 500px;
  text-align: justify;
  text-justify: auto;
  font-family: louvette-text, serif;
  font-weight: 400;
  font-style: normal;
}

.hover-img {
  display: none;
  transition: 4s ease;
}

.hoverme:hover .hover-img {
  display: block;
  position: fixed;
  top: 40%;
  left: 20%;
}

.btn {
  padding: 10px;
  background: black;
  position: fixed;
  transition:background 1s ease,
  transform 1s ease;
}


.next-btn {
  top: 40%;
  right: 0;
  transform: translateY(-30%);
}

.prev-btn {
  top: 40%;
  left: 0;
  transform: translateY(-40%);
}

a {
  text-decoration: none;
  color: white;
  font-family: louvette-text, serif;
  font-weight: 400;
  font-style: normal;
}
